repos/os/src/test/nic_stress/config.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="base_types.xsd"/>

	<xs:element name="config">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">

				<xs:element name="construct_destruct">
					<xs:complexType>
						<xs:attribute name="nr_of_rounds"   type="xs:nonNegativeInteger" />
						<xs:attribute name="nr_of_sessions" type="xs:nonNegativeInteger" />
					</xs:complexType>
				</xs:element><!-- construct_destruct -->

			</xs:choice>

			<xs:attribute name="exit_support" type="Boolean" />

		</xs:complexType>
	</xs:element><!-- config -->

</xs:schema>
