repos/os/src/server/black_hole/config.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="config">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="record"/>
				<xs:element name="play"/>
				<xs:element name="usb"/>
				<xs:element name="gpu"/>
				<xs:element name="rom"/>
				<xs:element name="uplink"/>
				<xs:element name="uplink_client"/>
				<xs:element name="nic"/>
				<xs:element name="event"/>
				<xs:element name="capture"/>
				<xs:element name="audio_in"/>
				<xs:element name="audio_out"/>
			</xs:choice>
		</xs:complexType>
	</xs:element><!-- config -->

</xs:schema>
